@font-face {
  font-family: 'CustomFont';
  src: url('/src/assets/font/VL-MODULUS-MEDIUM.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CustomFont2';
  src: url('/src/assets/font/VL-Cvetanoff.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CustomFont3';
  src: url('/src/assets/font/1FTV-Naserra.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PaytoneOne';
  src: url('/src/assets/font/PaytoneOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Merienda';
  src: url('/src/assets/font/Merienda-VariableFont_wght.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Merienda', sans-serif;
  p {
    margin: 0 ;
  }
}


* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
